@CHARSET "UTF-8";

* {
	margin:0;
	padding:0;
}

html {
	height: 100%;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:50% 3em;
	/* fallback */
	background-color: #000000;
	background-image: url(../images/background.png);
	background-image: url(../images/background.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#404040), to(#000000)); /* Safari 5.1, Chrome 10+ */
	background-image: url(../images/background.png), -webkit-linear-gradient(top, #404040, #000000); /* Firefox 3.6+ */
	background-image: url(../images/background.png), -moz-linear-gradient(top, #404040, #000000); /* IE 10 */
	background-image: url(../images/background.png), -ms-linear-gradient(top, #404040, #000000); /* Opera 11.10+ */
	background-image: url(../images/background.png), -o-linear-gradient(top, #404040, #000000);
}

p {
	margin:0 0 1em;
}

a {
	color:#bed62f;
	text-decoration:none;
}

nav {
	position:absolute;
	top:0;
	height:3em;
	background-color:#000;
	display:block;
	width:100%;
	color: #FFF;
}

nav a {
	color:#FFF;
	text-decoration:none;
}

header {
	padding-top:3em;
	margin-bottom:220px;
}

h1 {
	text-indent:-1000em;
	background-image:url(../images/pyrus_logo.png);
	background-repeat:no-repeat;
	background-position:center;
	margin:auto;
	height:81px;
	width:295;
	text-align:center;
}

section {
	width:700px;
	margin:auto;
	color:#fff;
}

section h2 {
	color:#bed62f;
	font-size:3em;
	text-transform:uppercase;
	line-height:1em;
	margin-bottom:0.3em;
}


footer {
	width:100%;
	position:absolute;
	bottom:0;
	margin-bottom:1em;
	background-color:#FFF;
}
